<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Davide Ficano</string>
	<key>CFBundleDisplayName</key>
	<string>Tab Groups Organizer</string>
	<key>CFBundleIdentifier</key>
	<string>net.dafizilla.safari.tabgroupsorganizer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>globalpage.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openSettingsDialog</string>
				<key>Identifier</key>
				<string>tgo_settings</string>
				<key>Image</key>
				<string>groups.png</string>
				<key>Label</key>
				<string>Tab Groups Settings</string>
				<key>Palette Label</key>
				<string>Tab Groups</string>
				<key>Tool Tip</key>
				<string>Open Tab Groups Settings Dialog</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Save all open tabs as a group and then reopen all with one click</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://dafizilla.sourceforge.net/safari/tabgroups</string>
</dict>
</plist>
